/* |===============================|
 * | Below is imported From Wicak  |
 * |===============================|
 */
$colors: (
    primary  : (
        background-color: #3498db,
        border          : 2px solid darken(#3498db, 10%),
        color           : lighten(#3498db, 40%)
    ),
    info     : (
        background-color: #24cabc,
        border          : 2px solid darken(#24cabc, 10%),
        color           : lighten(#24cabc, 60%)
    ),
    warning  : (
        background-color: #f39c12,
        border          : 2px solid darken(#f39c12, 10%),
        color           : lighten(#f39c12, 40%)
    ),
    success  : (
        background-color: #2ecc71,
        border          : 2px solid darken(#2ecc71, 10%),
        color           : lighten(#2ecc71, 40%)
    ),
    danger   : (
        background-color: #e74c3c,
        border          : 2px solid darken(#e74c3c, 10%),
        color           : lighten(#e74c3c, 40%)
    ),
    secondary: (
        background-color: #999,
        border          : 2px solid darken(#999, 10%),
        color           : lighten(#999, 40%)
    ),
    light    : (
        background-color: #ddd,
        border          : 2px solid darken(#ddd, 10%),
        color           : darker(#ddd, 40%)
    ),
    white    : (
        background-color: #fff,
        border          : 2px solid darken(#fff, 10%),
        color           : black
    ),
    black    : (
        background-color: #313131,
        border          : 2px solid darken(#313131, 10%),
        color           : lighten(#313131, 60%)
    )
);

@font-face {
    font-family: aileron;
    src: url(../font/Aileron-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: aileron;
}

body {
    background-color: #fcfcfc;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
    padding: 8px 0;
}

.border {
    border-radius: 10px;
    border: 1px solid;
}

/* |====================|
 * | CSS for Column     |
 * |====================|
 */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
    padding: 0 15px;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        max-width: percentage($i/12);
    }
}

@for $i from 1 through 12 {
    .offset-#{$i} {
        margin-left: percentage($i/12);
    }
}

/* |====================|
 * | CSS for Margin     |
 * |====================|
 */
@for $i from 1 through 4 {
    .mt-#{$i} {
        margin-top: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .mr-#{$i} {
        margin-right: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .mb-#{$i} {
        margin-bottom: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .ml-#{$i} {
        margin-left: #{$i}em;
    }
}

/* |====================|
 * | CSS for Padding    |
 * |====================|
 */
@for $i from 1 through 4 {
    .pt-#{$i} {
        padding-top: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .pr-#{$i} {
        padding-right: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .pb-#{$i} {
        padding-bottom: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .pl-#{$i} {
        padding-left: #{$i}em;
    }
}
    
/* |===================|
 * | CSS for button    |
 * |===================|
 */
.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    padding: 8px 25px;
    outline: 0;
}

.btn:hover {
    cursor: pointer;
}

@each $name, $style in $colors {
    .btn-#{$name} {
        @each $prop, $value in $style {
            #{$prop}: $value;
        }
    }
}

/* |=============================|
 * | CSS for background color    |
 * |=============================|
 */
@each $name, $style in $colors {
    .bg-#{$name} {
        background-color: map-get($style, background-color);
    }
}

/* |=================|
 * | CSS for text    |
 * |=================|
 */

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-justify {
    text-align: justify !important;
}

@each $name, $style in $colors {
    .text-#{$name} {
        color: map-get($style, background-color) !important;
    }
}

/* |===================|
 * | CSS for border    |
 * |===================|
 */
.border {
    border: 2px solid;
    border-radius: 10px;
}

@each $name, $style in $colors {
    .border-#{$name} {
        border-color: map-get($style, background-color) !important;
    }
}

/* |======================|
 * | CSS for component    |
 * |======================|
 */
.testimonial {
    background-color: cyan;
    width: 100%;
}

.guides {
    width: 100%;
}

footer {
    min-height: 250px;
    background-color: grey;
    width: 100%;
}

/* |=====================|
 * | CSS for utilites    |
 * |=====================|
 */
.align-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}