/* |===============================|
 * | Below is imported From Wicak  |
 * |===============================|
 */
$colors: (
    primary  : (
        background-color: #3498db,
        border          : 1.5px solid darken(#3498db, 10%),
        color           : lighten(#3498db, 40%)
    ),
    info     : (
        background-color: #24cabc,
        border          : 1.5px solid darken(#24cabc, 10%),
        color           : lighten(#24cabc, 60%)
    ),
    warning  : (
        background-color: #f39c12,
        border          : 1.5px solid darken(#f39c12, 10%),
        color           : lighten(#f39c12, 40%)
    ),
    success  : (
        background-color: #2ecc71,
        border          : 1.5px solid darken(#2ecc71, 10%),
        color           : lighten(#2ecc71, 40%)
    ),
    danger   : (
        background-color: #e74c3c,
        border          : 1.5px solid darken(#e74c3c, 10%),
        color           : lighten(#e74c3c, 40%)
    ),
    secondary: (
        background-color: #999,
        border          : 1.5px solid darken(#999, 10%),
        color           : lighten(#999, 40%)
    ),
    light    : (
        background-color: #ddd,
        border          : 1.5px solid darken(#ddd, 10%),
        color           : darker(#ddd, 40%)
    ),
    white    : (
        background-color: #fff,
        border          : 1.5px solid darken(#fff, 10%),
        color           : black
    ),
    black    : (
        background-color: #313131,
        border          : 1.5px solid darken(#313131, 10%),
        color           : lighten(#313131, 60%)
    )
);

@font-face {
    font-family: aileron;
    src: url(../font/Aileron-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: aileron;
}

body {
    background-color: #fcfcfc;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
    margin: 0 -15px;
    padding: 8px 0;
}

.border {
    border-radius: 10px;
    border: 1px solid;
}

/* |====================|
 * | CSS for Column     |
 * |====================|
 */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
    padding: 0 15px;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        max-width: percentage($i/12);
    }
}

@for $i from 1 through 12 {
    .offset-#{$i} {
        margin-left: percentage($i/12);
    }
}

/* |====================|
 * | CSS for Margin     |
 * |====================|
 */
@for $i from 1 through 4 {
    .mt-#{$i} {
        margin-top: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .mr-#{$i} {
        margin-right: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .mb-#{$i} {
        margin-bottom: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .ml-#{$i} {
        margin-left: #{$i}em;
    }
}

/* |====================|
 * | CSS for Padding    |
 * |====================|
 */
@for $i from 1 through 4 {
    .pt-#{$i} {
        padding-top: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .pr-#{$i} {
        padding-right: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .pb-#{$i} {
        padding-bottom: #{$i}em;
    }
}
@for $i from 1 through 4 {
    .pl-#{$i} {
        padding-left: #{$i}em;
    }
}
    
/* |===================|
 * | CSS for button    |
 * |===================|
 */
.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    padding: 8px 25px;
    outline: 0;
}

.btn-sm {
	border: none;
	text-align: center;
	font-size: 12px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    padding: 4px 20px;
    outline: 0;
}

.btn-login {
	margin-top: 1em;
	padding: 1em 0;
	width: 100%;
	border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}

@each $name, $style in $colors {
    .btn-#{$name} {
        @each $prop, $value in $style {
            #{$prop}: $value;
        }
    }
}

/* |=============================|
 * | CSS for background color    |
 * |=============================|
 */
@each $name, $style in $colors {
    .bg-#{$name} {
        background-color: map-get($style, background-color);
    }
}

/* |=================|
 * | CSS for text    |
 * |=================|
 */

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-justify {
    text-align: justify !important;
}

@each $name, $style in $colors {
    .text-#{$name} {
        color: map-get($style, background-color) !important;
    }
}

/* |===================|
 * | CSS for border    |
 * |===================|
 */
.border {
    border: 2px solid;
    border-radius: 10px;
}

@each $name, $style in $colors {
    .border-#{$name} {
        border-color: map-get($style, background-color) !important;
    }
}

/* |=================|
 * | CSS for card    |
 * |=================|
 */
 .card {
	width: 100%;
	height: 350px;
	border-radius: 10px;
}

.card-image {
	width: 100%;
	height: 150px;
	background-color: grey;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.card-image > img {
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0 0;
}

.card-content {
	width: 100%;
	height: 200px;
	padding: 1em;
}

.card-content > p {
	font-size: 12px;
}

/* |=================|
 * | CSS for form    |
 * |=================|
 */
.form-group {
	margin: 1.5em 0;
}

.form-group > input {
	width: 100%;
	margin-top: 10px;
	padding: 10px 15px;
	display: block;
	background: none;
	outline: none;
	border: 2px solid #3498db;
	border-radius: 10px;
	transition: 0.25s;
}

.form-group > input:focus {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/* |======================|
 * | CSS for slider-image |
 * |======================|
 */
.slider-image {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: grey;
}

.slider-image img {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	object-fit: cover;
	object-position: center;
	transition: 0.5s;
}

[id^="slide"]:checked + img {
	opacity: 1;
	transition: 0.5s;
}

.slider-nav {
	margin: 1em auto;
	text-align: center;
}

.slider-nav label {
	cursor: pointer;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	border-radius: 50px;
	background-color: lightgrey;
	transition: 0.4s;
	&:hover {
		background-color: grey;
	}
}

/* |======================|
 * | CSS for component    |
 * |======================|
 */
.testimonial {
    background-color: cyan;
    width: 100%;
}

.guides {
    width: 100%;
}

footer {
    min-height: 250px;
    background-color: grey;
    width: 100%;
}

.testi-avatar {
	vertical-align: middle;
	width: 120px;
	height: 120px;
	background-color: #fff;
	border-radius: 50%;
	border: 7px solid;
	margin: auto;
}

.login {
	width: 100%;
	height: 100vh;
}

.login > .background {
	width: 100%;
	height: 50vh;
	background-color: #3498db;
}

.login > .content {
	box-sizing: border-box;
	padding: 2em;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
	background-color: white;
}

.login > .content img {
	margin: 1em 4em 2em 4em;
	width: 250px;
}

.gallery-photo {
    position: relative;
    padding: 0 !important;
    height: 258px;
    background-color: grey;
    overflow: hidden;
}

.gallery-photo > img {
    position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: center;
    transition: 0.5s;
    cursor: pointer;
    
    &:hover {
        transform: scale(1.1);
    }
}

/* |=====================|
 * | CSS for utilites    |
 * |=====================|
 */
.align-middle {
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.box-shadow {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}